<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__brand">
                    <a href="index.html" class="footer__brand" aria-label='Home'>
                        <img src="img/logo-white.png" alt="Symbiome" width="188" height="26">
                    </a>
                </div>
            </div>
    
            <div class="col-lg-9">
                <div class="footer__menu-box">
                    <ul class="footer__menu-list">
                        <li>
                            <a href="contact.html">Användarvillkor</a>   
                        </li>
                        <li>
                            <a href="terms.html">Köpvillkor</a>   
                        </li>
                        <li>
                            <a href="about.html">Integritetsvillkor</a>   
                        </li>
                        <li>
                            <a href="news.html">Kontakt</a>   
                        </li>
                        <li>
                            <a href="news.html">GDPR - Hämta min personliga information</a>   
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="footer__social">
                    <a href="#" class="footer__link-social">
                        <img src="img/fb-icon.svg" alt="Facebook" width="22" height="22">
                        Facebook
                    </a>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="footer__mpayments">
                    <ul class="mpayments-list">
                        <li>
                            FB Pay
                            <img src="img/pay1.png" alt="FB Pay" width="50" height="24">  
                        </li>
                        <li>
                            Klarna
                            <img src="img/pay2.png" alt="Klarna" width="50" height="24">  
                        </li>
                        <li>
                            Mastercard
                            <img src="img/pay3.png" alt="Mastercard" width="50" height="24">  
                        </li>
                        <li>
                            Visa
                            <img src="img/pay4.png" alt="Visa" width="50" height="24">  
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="footer__copy-box">
                    <span class="footer__copy">© 2021, Symbiome</span>
                </div>
            </div>
        </div>
    </div>
</footer>