<nav class="nav">
    <div class="container">
        <div class="nav__wrapper">
            <a href="#" class="nav__logo logo">
                Symbiome
                <img src="img/logo.png" alt="Logo" width="233" height="32">
            </a>  

            <button type="button" class="nav__burger-btn">
                <span></span><span></span><span></span>
            </button>

            <div class="nav__menu">
               <ul class="nav__menu-list">
                   <li>
                       <a href="#">Butik</a>
                   </li>
                   <li>
                        <a href="#">Skitbloggen</a>
                    </li>
                    <li>
                        <a href="#">IBS-Test</a>
                    </li>
                    <li>
                        <a href="#">APP (Registrera/resultat)</a>
                    </li>
                    <li>
                        <a href="#">HJÄLP</a>
                    </li>
                    <li>
                        <a href="#">Prenumeration</a>
                    </li>
               </ul> 
            </div>
        </div>
    </div>
</nav>